.header a{
    font-size: 15px;
    position: absolute;
    margin-left: 1200px;
    margin-top: 35px;
    color: aliceblue;
    float: left;
}
a{
    font-size: 15px;
    position: absolute;
    margin-left: 1400px;
    margin-top: -35px;
    color: aliceblue;
    float: left;
}
